/RegistroDeClientes/FixedUtil/obj
/RegistroDeClientes/FixedUtil/bin
/RegistroDeClientes/FixedUtil/*.user
/RegistroDeClientes/FixedUtil/*.suo
/RegistroDeClientes/RegistroDeClientesBD/obj
/RegistroDeClientes/RegistroDeClientesBD/bin
/RegistroDeClientes/GlobalPackages
/RegistroDeClientes/packages
*.suo
/.vs/RegistroDeClientes/v15
/.vs
